MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=competitions
MONGO_COLLECTION_NAME=competitions
DATA_FOLDER=/code/data
WEB_HOST=0.0.0.0
WEB_PORT=8080
AUTH_SECRET_KEY=replace-with-random-string
AUTH_ADMIN_USERNAME=admin
AUTH_ADMIN_PASSWORD=change-me
AUTH_VIEWER_USERNAME=viewer
AUTH_VIEWER_PASSWORD=change-me-viewer
